.btn-primary:active{
    background-color:#215198;
    border-width:2px;
    top: -1px;
    box-shadow: none;
  }
  
  h5:hover {
    color: #000080;
  }


  .carousel-control-prev-icon{
    margin-right: 30%;
  height: 100%;
  width: 70%;
  background-size: 35px;
  opacity: 0.8;
  transition: opacity 0.3s, background-color 0.3s;
  transition-timing-function: ease-in-out;
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover{
  background-color: rgba(94, 94, 94, 0.24);
  opacity: 1;
}

  .carousel-control-next-icon{
      margin-left: 30%;
    height: 100%;
    width: 70%;
    background-size: 35px;
    opacity: 0.8;
    transition: opacity 0.3s, background-color 0.3s;
    transition-timing-function: ease-in-out;
}


  @media screen and (max-width : 991px){
    .col{
      margin-top: -30vh;
      /* height: 25vh; */
      padding-bottom: 30vh;
      height: 70vh;
      width: 100%;
  }

  .d-block {
    max-width: 70vw;
    margin-top: 130%;
    /* padding-bottom: 10%; */
    /* margin-left: 76%; */
    }
  .nav {
      margin-top: -5vh;
      margin-right: -150vh;
      /* background-color: #000080; */
      z-index: 50;
  }

  .mr-auto {
      background-color: rgba(155, 195, 255, 0.623);
  }
  .btn-container {
      display: flex;
      justify-content: center;
      position: relative;
      left: -5%;
      top: 30vh;
  }
      .row {
          min-width: 140%;
          }
          .row-two {
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 100%;
              margin-top: 300%;
              height: 200%;
              }

              .d-block-two {
                  min-width: 6vw;
                  margin-top: 130%;
                  margin-bottom: 10%;
                  margin-left: 65%;
                  }

                  .col-two {
                      text-align: center;
                      width: 80vw;
                      top: 60%;
                      left: 10%;
                      right: 0%;
                      height: 100vh;
                      margin-bottom: 10vh;
                      }

                      .col-three {
                        min-width: 100%;
                              margin-left: 0vw;
                              padding-top: 100%;
                      }

                      .row-four {
                        min-height: 15vh;
                      }
                      .col-four {
                          min-width: 80%;
                          margin-top: 0%;
                          margin-left: 60%;
                          font-size: 16px;
                          }
              .btn-container-two {
                  /* position: absolute; */
                  display: flex;
                  /* flex-direction: column; */
                  justify-content: center;
                  /* position: relative; */
                  /* top: -100%; */
               min-width: 100%;
               /* height: 100%; */
               /* bottom: -600px; */
              }
              .btn-two {
                  min-width: 60%;
                height: 300%;
                font-size: 9px;
                bottom: 400px;
              }
              .carousel {
                top: 90vh;
                min-width: 100vw;
                /* min-height: 100vh; */
                
              }

              img {
                min-height: 100vh;
              }
              
              .carousel-control-prev-icon:hover, .carousel-control-next-icon:hover{
                background-color: transparent;
                opacity: 0.8;
              }
    }
    @media screen and (max-width : 528px){
        .col{
            margin-top: -4vh;
            /* height: -25vh; */
            padding-bottom: 20vh;
            height: 90%;
            width: 100%;
        }
        .nav {
            margin-top: 25vh;
            margin-right: 0vh;
            /* background-color: #000080; */
            z-index: 50;
        }

        .mr-auto {
            background-color: rgba(155, 195, 255, 0.911);
        }
        .btn-container {
            display: flex;
            justify-content: center;
            position: relative;
            left: -5%;
            top: 15vh;
        }
            .row {
                min-width: 140%;
                }
                .row-two {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    margin-top: 300%;
                    height: 200%;
                    }

                    .d-block-two {
                        max-width: 100px;
                        margin-top: 160%;
                        margin-bottom: 10%;
                        margin-left: 5%;
                        }

                        .col-two {
                          position: relative;
                            text-align: center;
                            width: 93vw;
                            top: 60%;
                            padding-right: 25%;
                            height: 50vh;
                            }
                            .col-three {
                              min-width: 100%;
                              margin-left: 0vw;
                              margin-top: 400px;
                              padding-top: 100px;
                            }
                            .row-four {
                              min-height: 5vh;
                            }
                            .col-four {
                                min-width: 60%;
                                margin-top: -1.5%;
                                margin-left: 20%;
                                font-size: 13px;
                                overflow-wrap: normal;
                                }
                    .btn-container-two {
                        /* position: absolute; */
                        display: flex;
                        /* flex-direction: column; */
                        justify-content: center;
                        /* position: relative; */
                        /* top: -100%; */
                     min-width: 100%;
                     /* height: 100%; */
                     /* bottom: -600px; */
                    }
                    .btn-two {
                        min-width: 60%;
                      height: 300%;
                      font-size: 9px;
                      bottom: 400px;
                    }

                    .carousel {
                      top: 50vh;
                      min-width: 100vw;
                    }
                    img {
                      min-height: 10vh;
                    }
                    
                    .carousel-control-prev-icon:hover, .carousel-control-next-icon:hover{
                      background-color: transparent;
                      opacity: 0.8;
                    }
    }